<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="changecalc.setDem" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="changecalc.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <changecalc.setDem>
            <setting name="Denomination" serializeAs="String">
                <value>USA</value>
            </setting>
        </changecalc.setDem>
        <changecalc.Config>
            <setting name="domination" serializeAs="String">
                <value>US</value>
            </setting>
        </changecalc.Config>
    </applicationSettings>
</configuration>